* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B8134F;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

h2 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.container {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* .hidden-container {
    opacity: 0;
    transition: 0.5s;
} */